Images/Thumbs.db
*.user
UpgradeLog.htm
*.suo
Modules/.vs/config/applicationhost.config
Modules/PowerBIPS/PublishToGallery.ps1
Modules/PowerBIPS/Publish/*
Modules/PowerBIPS/PowerBIPS.Test*
Modules/PowerBIETL/Publish/*
Modules/PowerBIETL/PublishToGallery.ps1
/Modules/PowerBIETL/Samples/Output
/Modules/PowerBIPS/Samples/PowerBIPS.TestChangeConnection.ps1
/.vs/slnx.sqlite
/.vs
ImportPBIStuff.ps1