Images/Thumbs.db
*.user
UpgradeLog.htm
*.suo
Modules/.vs/config/applicationhost.config
Modules/PowerBIPS/PublishToGallery.ps1
Modules/PowerBIPS/Publish/*
Modules/PowerBIPS/Samples/*test*.ps1
Modules/PowerBIPS/Samples/PowerBIPS.TestChangeConnection.ps1
#Modules/PowerBIPS/GenerateDocs.ps1

Modules/PowerBIPS.Tools/Samples/*
Modules/PowerBIPS.Tools/Publish/*
Modules/PowerBIPS.Tools/PublishToGallery.ps1
#Modules/PowerBIPS.Tools/GenerateDocs.ps1

Modules/PowerBIETL/Publish/*
Modules/PowerBIETL/PublishToGallery.ps1
/Modules/PowerBIETL/Samples/Output

/.vs/slnx.sqlite
/.vs
ImportPBIStuff.ps1
/Modules/PowerBIPS/Samples/PowerBIPS.ServicePrincipal.ps1
